DATABASE_URL="postgresql://postgres.PROJECT_REF:YOUR_PASSWORD@aws-0-REGION.pooler.supabase.com:5432/postgres"
BETTER_AUTH_SECRET="replace-with-openssl-rand-base64-32"
BETTER_AUTH_URL="http://localhost:3000"
